body
{
}

/* MENU */

ul.dropdown-menu > li
{
}

ul.dropdown-menu > li > a
{
}

ul.dropdown-menu > li > a:hover
{
}

.navbar
{
	height: 65px;
}

#nav_coll
{
	margin-top: 5px;
}

.btn-group > button
{
	margin-top: -5px;
}

.btn-default
{
	background-image: linear-gradient(to bottom,#fff 0,#e0e0e0 100%);
	border-color: #ccc;
	background-repeat: repeat-x;
	text-shadow: 0 1px 0 #fff;
	color: #333;
}

#nav_coll > ul > li
{
	background-image: linear-gradient(to bottom,#fff 0,#e0e0e0 100%);
	border: 1px solid #ccc;
	background-repeat: repeat-x;
	text-shadow: 0 1px 0 #fff;
	margin-right: 2px;
	border-radius: 5px;
}

#nav_coll > ul > li > a
{
	color: #333;
}


p.navbar-text
{
	position: relative;
	left: -10px;
}

a.btn_logout
{
	color: #777;
	text-decoration: none;
}

button#small_menu
{
	margin-top: -7px;
}
