body
{
	max-width: 1350px;
    font-family: 'Lato' , sans-serif;
}

a:link, a:hover, a:active, a:visited
{
    text-decoration: none;
    color: Black;
}

div.MP_main_row
{
    min-height: 600px;
}

.col-lg-3, .col-lg-9
{
	padding: 0;
    top: -6px;
    left: -2px;
}

/****************/
/*     MENU     */
/****************/
div#MP_sumary
{
	height: 100px;
	border-bottom: 1px solid #202020;
	border-right: 1px solid #202020;
}
div#MP_logo
{
    height: 50px;
    text-align: center;
    background: #f0f0f0;
}
div#MP_logo > span
{
    font-size: 30px;
    position: relative;
    color: #272727;
    top: 3px;
}
td#MP_menu_col
{
    background: #272727;
    height: 100%;
    display: inline-block;
    width: 250px;
}
ul#MP_menu,
ul.sub_menu
{
    left: 0;
    width: 100%;
    padding-left: 0;
    list-style: none;
}
ul#MP_menu > li,
ul.sub_menu > li
{
    height: 40px;
    border-bottom: 1px solid #202020;
    width: 100%;
}
ul#MP_menu > li > a > div,
ul.sub_menu > li > a > div
{
	padding: 0;
	height: 100%;
}
ul#MP_menu > li > a,
ul.sub_menu > li > a
{
    display: block;
    height: 100%;
    border-left: 3px solid #f0ad4e;
}
ul#MP_menu > li > a:hover,
ul.sub_menu > li > a:hover
{
	background: #303030;
	
}
ul#MP_menu > li > a > div > span,
ul.sub_menu > li > a > div > span
{
    position: relative;
    left: 10px;
    top: 10px;
    color: #e5e5e5;
}
ul#MP_menu > li > a > div > span.li_icon,
ul.sub_menu > li > a > div > span.li_icon 
{
	font-size: 20px;
	color: #f0ad4e;
}

ul.sub_menu 
{
	position: relative;
	top: -40px;
	left: 250px;
	list-style: none;
	padding: 0px;
	background: #272727;
	border-top: 1px solid #202020;
	z-index: 1;
}

ul.sub_menu > li 
{
	display: block;
	height: 40px;
	width: 100%;
	border-bottom: 1px solid #202020;
	
}

/*--------------------*/


/*******************/
/*     NAVABAR     */
/*******************/
nav.navbar , div.navbar-header
{
    height: 100%;
    background: #f0f0f0;
    display: inline-block;
    width: 60px;
    
}
div#MP_navbar
{
    height: 50px;
    background: #f0f0f0;
}
button#btn_min_menu 
{
    position: absolute;
    left: 10px;
    background: #fff;
    border-color: #888888;
    border-radius: 0;
}

div#MP_add_problem 
{
	width: 50px;
	height: 100%;
	float: right;
	display: inline-block;
	text-align: center;
}

div#MP_add_problem > a > span.glyphicon
{
	font-size: 30px;
	position: relative;
	top: 10px;
	color: #f0ad4e;
}

div#MP_nav_user
{
	background: #272727;
	width: 50px;
	height: 100%;
	float: right;
	display: inline-block;
	text-align: center;
}
div#MP_nav_user:hover 
{
	background: #303030;
}

div#MP_nav_user > span.glyphicon
{
	font-size: 20px;
	position: relative;
	top: 15px;
	color: #f0f0f0;
}
div#MP_login_as
{
	background: #fff;
	height: 170px;
	width: 400px;
	position: absolute;
	top: 50px;
	right: 0px;
	display: none;
	z-index:1;
}
div#MP_login_as div
{
	height: 100%;
}
img#avatar 
{
	width: 150px;
	margin-top: 10px;
}
.logout_btn
{
	position:absolute;
	bottom: 10px;
	right: 0;
}
div#person_details
{
	text-align: left;
	padding:10px;
}
div#person_details > h4 
{
	font-size: 25px;
}
div#MP_nav_user:hover div#MP_login_as
{
	display: block;
}

/*--------------------*/




td#MP_content_col
{
    height: 100%;
    width: 100%;
}



div#MP_footer
{
    background: #272727;
    height: 10px;
}

div#MP_content
{
    min-height: 700px;
    width:100%;
    background: #d7d7d7;
}
/*************************/
/*     PRZYPOMNIENIA     */
/*************************/
div#MP_przypomnienia 
{
	margin-bottom: -10px;
}
div#MP_przypomnienia > ul
{
	padding: 0px;
}

div#MP_przypomnienia > ul > li 
{
	top: 0;
	list-style: none;
	display:inline-block;
	width: 200px;
	background: #272727;
	border-right: 1px solid #202020;
	border-top: 1px solid #202020;
}

div#MP_przypomnienia > ul > li > div#id0
{
	z-index: 1;
	color: #FFF;
	font-size: 12px;
	display: block;
	background: #f0ad4e;
	border-bottom: 1px solid #202020;
	padding: 10px;
}
div#MP_przypomnienia > ul > li > div#id1
{
	z-index: 1;
	color: #FFF;
	font-size: 12px;
	display: none;
	padding: 3px;
	width: 200px;
	min-height: 50px;
	line-height: 12px;
}

div#MP_przypomnienia > ul > li:hover div#id1
{
	background: #373737;
	position: absolute;
	display: block;
	
}
table.raport 
{
    width:100%;
    height:100%; 
}
table.raport th
{
	
    
}


div.content_container 
{
	padding: 30px;
}


/***************************/
/*     MOJE ZGŁOSZENIA     */
/***************************/

table#tab_mojezgloszenia 
{
	border-color: #202020;
}

table#tab_mojezgloszenia > thead > tr > th
{
	background: #272727;
	color: #f0ad4e;
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

table#tab_mojezgloszenia > tbody > tr > td
{
	background: #f7f7f7;
	font-weight: 100;
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 100px;
}

div#filter
{
	margin-bottom: 10px;
}

div#filter > span 
{
	font-weight: 600;
}

.table-bordered > thead > tr > th, 
.table-bordered > tbody > tr > th, 
.table-bordered > tfoot > tr > th, 
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td, 
.table-bordered > tfoot > tr > td
{
	border-color: #202020;
}


tr.theader > th
{
	background: #272727;
	border-color: #202020;
	color: #f0ad4e;
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

tr.tbodyer > td
{
	background: #f7f7f7;
	font-weight: 100;
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 100px;
}

table 
{
	width: 100%;
}

legend 
{
	border: none;
	font-size: 25px;
	
}

.popover-content
{
	word-break: break-all;
	overflow: auto;
    text-overflow: ellipsis;
    max-height: 150px;
}

.popover-title
{
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
