body
{
	background: #eee;
	font-family: 'Lato' , sans-serif;
}

div#login_frame
{
	margin: auto;
	width: 300px;
	min-height: 200px;
	background: #fff;
	border-bottom: 5px solid #272727;
	box-shadow: 0px 0px 2px #676767;
	border-radius: 2px;
}


div#login_frame > h3
{
	position: relative;
	top: 5px;
	left: 5px;
	color: #272727;
}

div#login_lab_zone
{
	border-top: 1px solid #c7c7c7;
	min-height: 160px;
	padding-top: 20px;
}

input#login_lab
{
	margin-bottom: 10px;
}

label.control-label
{
	position: relative;
	top: 5px;
	color: #272727;
}

#signin
{
	float: right;
	position: relative;
	top: 10px;
	right: 30px;
}

span.rememb_me > label 
{
	position: relative;
	left: 5px;
	font-weight: normal;
}

span.rememb_me > input
{
	position: relative;
	top: 2px;
}

span.rememb_me
{
	position: relative;
	top: 15px;
	left: 5px;
}

div.zapn_hasl 
{
    position: relative;
    top: 15px;
    left: 5px;
}

div.zapn_hasl > a
{
   text-decoration: none;
}