body
{
    background: #f0f0f0;
    font-family: 'Lato' , sans-serif;
}

a:link, a:hover, a:active, a:visited
{
    text-decoration: none;
    color: Black;
}

div#MP_main_row
{
    position: relative;
    min-height: 600px;
}

/****************/
/*     MENU     */
/****************/
div#MP_logo
{
    height: 80px;
    text-align: center;
}
div#MP_logo > span
{
    font-size: 30px;
    position: relative;
    top: 20px;
}
div#MP_menu
{
    background: #f0f0f0;
    height: 100%;
}
div#MP_menu > ul
{
    position: absolute;
    left: 0;
    width: 100%;
    padding-left: 0;
    list-style: none;
}
div#MP_menu > ul > li
{
    height: 60px;
    border-bottom: 1px solid #e8e8e8;
    width: 100%;
}
div#MP_menu > ul > li > a
{
    display: block;
    height: 100%;
    text-align: center;
}
div#MP_menu > ul > li > a:hover
{
    background: #fff;
}
div#MP_menu > ul > li > a > span
{
    color: Black;
    position: relative;
    top: 15px;
    font-size: 20px;
}

/*--------------------*/


/*******************/
/*     NAVABAR     */
/*******************/
nav.navbar , nav > div.container-fluid, div.navbar-header
{
    height: 100%;
    background: #676767;
}
div#MP_navbar
{
    height: 80px;
    background: #676767;
}
button#btn_min_menu 
{
    position: absolute;
    left: 10px;
    top: 15px;
    background: #fff;
    border-color: #888888;
    border-radius: 0;
}
div#MP_login_as 
{
    height: 100%;
    text-align:right;
    border: 1px solid red; /* dbg */
}
div#MP_login_as > span 
{
    position:relative;
    top: 25px;
    right:5px;
    color: #fff;
    font-size: 15px;
}

/*--------------------*/




div#MP_cont_col
{
    height: 100%;
    position: absolute;
    top:0;
    right:0;
}



div#MP_footer
{
    background: #676767;
    height: 40px;
}

div#MP_content
{
    min-height: 600px;
    background: #d7d7d7;
}
