body
{
    background: #272727;
    font-family: 'Lato' , sans-serif;
}

a:link, a:hover, a:active, a:visited
{
    text-decoration: none;
    color: Black;
}

div.MP_main_row
{
    min-height: 600px;
}

.col-lg-3, .col-lg-9
{
	padding: 0;
    top: -6px;
    left: -2px;
}

/****************/
/*     MENU     */
/****************/
div#MP_sumary
{
	height: 100px;
	border-bottom: 1px solid #202020;
}
div#MP_logo
{
    height: 50px;
    text-align: center;
    background: #f0f0f0;
}
div#MP_logo > span
{
    font-size: 30px;
    position: relative;
    color: #272727;
    top: 3px;
}
td#MP_menu_col
{
    background: #272727;
    height: 100%;
    display: inline-block;
    width: 250px;
}
ul#MP_menu
{
    left: 0;
    width: 100%;
    padding-left: 0;
    list-style: none;
}
ul#MP_menu > li
{
    height: 40px;
    border-bottom: 1px solid #202020;
    width: 100%;
}
ul#MP_menu > li > a > div
{
	padding: 0;
	height: 100%;
}
ul#MP_menu > li > a
{
    display: block;
    height: 100%;
    border-left: 3px solid #2897B7;
}
ul#MP_menu > li > a:hover
{
	background: #303030;
	
}
ul#MP_menu > li > a > div > span
{
    position: relative;
    left: 10px;
    top: 10px;
    color: #e5e5e5;
}
ul#MP_menu > li > a > div > span.li_icon 
{
	font-size: 20px;
	color: #2897B7;
}

/*--------------------*/


/*******************/
/*     NAVABAR     */
/*******************/
nav.navbar , div.navbar-header
{
    height: 100%;
    background: #f0f0f0;
    display: inline-block;
    width: 60px;
    
}
div#MP_navbar
{
    height: 50px;
    background: #f0f0f0;
}
button#btn_min_menu 
{
    position: absolute;
    left: 10px;
    background: #fff;
    border-color: #888888;
    border-radius: 0;
}

div#MP_add_problem 
{
	width: 50px;
	height: 100%;
	float: right;
	display: inline-block;
	text-align: center;
}

div#MP_add_problem > a > span.glyphicon
{
	font-size: 30px;
	position: relative;
	top: 10px;
	color: #2897B7;
}

div#MP_nav_user
{
	background: #272727;
	width: 50px;
	height: 100%;
	float: right;
	display: inline-block;
	text-align: center;
}
div#MP_nav_user:hover 
{
	background: #303030;
}

div#MP_nav_user > span.glyphicon
{
	font-size: 20px;
	position: relative;
	top: 15px;
	color: #f0f0f0;
}
div#MP_login_as
{
	background: #fff;
	height: 170px;
	width: 400px;
	position: absolute;
	top: 50px;
	right: 0;
	display: none;
}
div#MP_login_as div
{
	height: 100%;
}
img#avatar 
{
	width: 150px;
	margin-top: 10px;
}
.logout_btn
{
	position:absolute;
	bottom: 10px;
	right: 0;
}
div#person_details
{
	text-align: left;
	padding:10px;
}
div#person_details > h4 
{
	font-size: 25px;
}
div#MP_nav_user:hover div#MP_login_as
{
	display: block;
}

/*--------------------*/




td#MP_content_col
{
    height: 100%;
    width: 100%;
}



div#MP_footer
{
    background: #272727;
    height: 10px;
}

div#MP_content
{
    min-height: 700px;
    background: #d7d7d7;
}
